
<fieldset>
	<form>
		<h2>Blog를 평가해주세요!</h2>
		<p>내용만족도, 블로그 구성, 기능 구현 등 간단한 코멘트를 남겨주세요.</p>
		<p>
			<label for="select_element">내용 만족도:</label>
			<select name="select_element">
				<optgroup label="Option Group 1">
					<option value="1">1점</option>
					<option value="2">2점</option>
					<option value="3">3점</option>
				</optgroup>
			</select>
		<p>
		<p>
			<label for="select_element">블로그 구성:</label>
			<select name="select_element">
				<optgroup label="Option Group 2">
					<option value="1">1점</option>
					<option value="2">2점</option>
					<option value="3">3점</option>
				</optgroup>
			</select>
		<p>
		<p>
			<label for="select_element">기능 구현:</label>
			<select name="select_element">
				<optgroup label="Option Group 3">
					<option value="1">1점</option>
					<option value="2">2점</option>
					<option value="3">3점</option>
				</optgroup>
			</select>
		<p>
		<label for="text_area">간단한 Comment:</label>
		<textarea id="text_area"></textarea>
			<label for="password">Password:</label>
			<input type="password" class="password" name="password" autocomplete="off" style="cursor: auto; background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAASCAYAAABSO15qAAAABmJLR0QA/wD/AP+gvaeTAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAB3RJTUUH3QsPDhss3LcOZQAAAU5JREFUOMvdkzFLA0EQhd/bO7iIYmklaCUopLAQA6KNaawt9BeIgnUwLHPJRchfEBR7CyGWgiDY2SlIQBT/gDaCoGDudiy8SLwkBiwz1c7y+GZ25i0wnFEqlSZFZKGdi8iiiOR7aU32QkR2c7ncPcljAARAkgckb8IwrGf1fg/oJ8lRAHkR2VDVmOQ8AKjqY1bMHgCGYXhFchnAg6omJGcBXEZRtNoXYK2dMsaMt1qtD9/3p40x5yS9tHICYF1Vn0mOxXH8Uq/Xb389wff9PQDbQRB0t/QNOiPZ1h4B2MoO0fxnYz8dOOcOVbWhqq8kJzzPa3RAXZIkawCenHMjJN/+GiIqlcoFgKKq3pEMAMwAuCa5VK1W3SAfbAIopum+cy5KzwXn3M5AI6XVYlVt1mq1U8/zTlS1CeC9j2+6o1wuz1lrVzpWXLDWTg3pz/0CQnd2Jos49xUAAAAASUVORK5CYII=); background-attachment: scroll; background-position: 100% 50%; background-repeat: no-repeat;">
		</p>
		<p>
			<input class="btn" type="button" onclick="alert('제출되었습니다!');" value="Submit" />
		</p>
	</form>
</fieldset>
