---
layout: default
---

<div id="main" role="main">			
	<div class="wrap">
		{% if page.image.feature %}
		<div class="page-feature">
			<div class="page-image">
				<img src="{{ site.url }}/images/{{ page.image.feature }}" class="page-feature-image" alt="{{ page.title }}">
				{% if page.image.credit %}{% include image-credit.html %}{% endif %}
			</div><!-- /.page-image -->
		</div><!-- /.page-feature -->
		{% endif %}
		<div class="page-title">
			<h1>{{ page.title }}</h1>
			{% if page.excerpt %}<h2>{{ page.excerpt }}</h2>{% endif %}
		</div>
		<div class="archive-wrap">
			<div class="page-content">
				{{ content }}
			</div><!-- /.page-content -->
		</div class="archive-wrap"><!-- /.archive-wrap -->
	</div><!-- /.wrap -->
</div><!-- /#main -->
<div id="js-menu-screen" class="menu-screen"></div>
<div class="page-lead" style="background-image:url(https://github.com/orangestock/orangestock.github.com/blob/master/images/main.jpg?raw=true)">
      <div class="wrap page-lead-content">
        <h1>Orange Stock</h1>
        <h2>한기대 주식블로그 OrangeStock에 오신걸 환영합니다!</h2>
        <a href="http://orangestock.github.io/prior-to-beginning/" class="btn-inverse">Start learing OrangeStock</a> &nbsp; or &nbsp; <a href="https://github.com/orangestock/orangestock.github.com" class="btn-inverse">View on GitHub</a>
      </div><!-- /.page-lead-content -->
    </div>

    <div id="page-wrapper">
      <div id="main" role="main">
<div class="wrap">
<div class="page-content">
              <div class="tiles">

<div class="tile">
  <div align="center">
  <h2 class="post-title">Prior To Beginnig</h2>
  <img src="/images/home1.png">
  <p class="post-excerpt">주식을 시작하기 전에 주식이란 무엇인지와 주식시장의 기초지식을 알아봅시다.</p>
  </div>
</div><!-- /.tile -->

<div class="tile">
  <div align="center">
  <h2 class="post-title">Articles</h2>
  <img src="/images/home2.png">
  <p class="post-excerpt">HTS(Home Trading System)을 통한 주식거래 방법을 설명드립니다.</p>
  </div>
</div><!-- /.tile -->

<div class="tile">
  <div align="center">
  <h2 class="post-title">Practicing</h2>
  <img src="/images/home3.png">
  <p class="post-excerpt">HTS(Home Trading System)을 통한 주식거래 방법을 설명드립니다.</p>
  </div>
</div><!-- /.tile -->

<div class="tile">
  <div align="center">
  <h2 class="post-title">About</h2>
  <img src="/images/home4.png">
  <p class="post-excerpt">OrangeStock 우리 팀을 소개합니다.</p>
  </div>
</div><!-- /.tile -->

</div>
<!-- /.tiles -->

            </div>